// Grayscale
$black:       #000;
$gray-med:    #707070;
$gray:        #c4c4c4;
$gray-light:  #ededed;
$white:       #fff;

// brand
$primary:     #1a3757;
$primary-transparent:     #1A3757D9;
$secondary:   #fcc40f;
