/* GLOBAL STYLES & VARIABLES ========================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all 0.2s ease;
}

body {
  color: $black;
  background-color: $white;
  font-family: 'Inter', sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small,
li {
  color: $black;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  line-height: 1.33;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.btn {
  font: normal normal bold 16px/20px Inter;
  padding: 16px 36px;
  background: $secondary;
  text-align: center;
  border-radius: 50px;

  &:hover {
    background: lighten($secondary, 10%);
  }
}

/* MOBILE MENU ======================================================================================================= */
.mobile-menu {
  transform: translateX(-100%);
  position: fixed;
  top: 24px;
  left: 0;
  z-index: 5;

  @include bp(md){
    display: none;
  }

  &.active { transform: none; }
}
/* HEADER ============================================================================================================ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  z-index: 3;

  @include bp(md){
    padding: 64px 0;
  }

  .container {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(md){
      padding: 0 48px;
    }
  }

  .header-logo {
    img { 
      width: 64px; 

      @include bp(md){
        width: 120px;
      }
    }
  }

  nav, .btn {
    display: none;
    @include bp(lg){
      display: block;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    a { 
      color: $white; 
      &:hover { color: $gray; }
    }
  }

  .menu-toggle {
    &:hover {
      cursor: pointer;
    }

    img { 
      width: 18px; 

      @include bp(md){
        width: 24px; 
      }
    }

    @include bp(lg){
      display: none;
    }
  }
}

/* HERO ============================================================================================================== */

.hero-section {
  background: linear-gradient(0deg, $primary-transparent, $primary-transparent), url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;

  @include bp(md){ padding: 176px 0; }

  .container {
    padding: 0 48px; 
  }

  .text-wrapper {
    text-align: center;
  }

  h2, h3, p, h6, small { color: $white; }

  .hero-title {
    font: normal normal bold 24px/29px Inter;

    @include bp(md){
      font: normal normal bold 80px/97px Inter;
    }
  }

  .hero-subtitle {
    font: normal normal bold 12px/15px Inter;
    letter-spacing: 3.6px;

    @include bp(md){
      font: normal normal bold 21px/25px Inter;
      letter-spacing: 23.1px;
      margin-top: 4px;
    }
  }

  .hero-text {
    font: normal normal bold 12px/15px Inter;
    margin-top: 20px;

    @include bp(md){
      font: normal normal bold 32px/39px Inter;
      margin-top: 40px;
    }
  }

  .btn {
    margin-top: 30px;

    @include bp(md){ margin-top: 48px; }
  }

  .countdown {
    display: none;
    max-width: 924px;
    margin: 124px auto 0;

    @include bp(md){
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 224px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;

      &:hover {
        & > * { color: $secondary; }
      }
    }

    &-number { font: normal normal bold 40px/49px Inter; }
    &-text { font: normal normal bold 20px/24px Inter; }
  }

  
}

/* PAGE SECTION ======================================================================================================= */

.page-section {
  .container {
    padding: 0 40px;

    @include bp(md) {
      padding: 0 48px;
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      grid-gap: 72px;
      align-items: center;
    }

    @include bp(lg) {
      padding: 0 148px;
      grid-gap: 100px; 
    }

    @include bp(xxl){ padding: 0; }
  }

  .text-secondary { color: $secondary; }

  .text-wrapper { text-align: left; }
  .image-wrapper {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  ul {
    margin-top: 40px; 

    @include bp(sm){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px;
    }

    @include bp(md){ 
      margin-top: 56px; 
      grid-column-gap: 24px;}
  }

  li {
    position: relative;
    padding-left: 30px;

    &:before {
      content: '';
      position: absolute;
      margin-top: 4px;
      top: 0;
      left: 0;
      width: 18px;
      height: 36px;
      background-image: url('../img/check.png');
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  img { border-radius: 20px; }

  h5 {
    font: normal normal bold 16px/15px Inter;

    & + h2 {
      margin-top: 8px;
      @include bp(sm){ margin-top: 12px; }
    }

    @include bp(sm){
      font: normal normal bold 24px/36px Inter;
    }
  }

  h2 {
    font: normal normal bold 20px/26px Inter;
    @include bp(sm){ font: normal normal bold 40px/50px Inter; }
  }

  p, li {
    font: normal normal normal 16px/24px Inter;
    margin-top: 24px; 

    a { text-decoration: underline; }
  }
}

/* SECTION ONE ======================================================================================================= */
.section-one {
  padding: 40px 0;

  @include bp(md){
    padding: 148px 0;
  }

  h5, h2 { color: $primary; }

  
}
/* SECTION TWO ======================================================================================================= */
.section-two {
  background: $primary;
  padding: 40px 0;

  @include bp(md){
    padding: 80px 0;
  }

  h2, li { color: $white; }

  .image-wrapper {
    display: none; 

    @include bp(md){
      display: block;
    }
  }
}
/* FOOTER ============================================================================================================ */

footer {
  background: $gray-light;
  padding: 0;

  .container { 
    padding: 0; 
    max-width: 100%;
  }

  .footer-top {
    padding: 64px 40px;
    max-width: 1640px;
    margin: 0 auto;

    @include bp(md){
      display: grid;
      grid-template-columns: auto repeat(3, 1fr);
      grid-gap: 40px;
    }

    @include bp(xl){
      grid-gap: 184px;
    }
  }

  .footer-logo {
    img { width: 300px; }
  }

  .footer-text {
    margin-top: 64px;

    @include bp(sm){ margin-top: 0; }
  }

  h5 {
    font: normal normal bold 20px/35px Inter;
  }




  .footer-bottom {
    border-top: 1px solid $gray;
    padding: 20px 40px;

    p {
      font: normal normal bold 16px/26px Inter;
      text-align: center;
    }
  }
}